@using RealEstateForum.Service.ViewModels
@model TopicForumFrontEndViewModel

@{
    var CurrentUser = WorkContext.CurrentUser;
    if (Model.Metas != null && !string.IsNullOrEmpty(Model.Metas["Title"]))
    {
        SetMeta("keywords", Model.Metas["Keywords"]);
        SetMeta("Description", Model.Metas["Description"]);
        Layout.Title = Model.Metas["Title"];
    }
}
<article class="content-item">
    <header>
        <div class="header-wrapper">
            <div class="header-title">
                <div class="header-title-left">
                    <div class="header-title-triangle"></div>
                </div>
                <h2 class="header-title-text">@Model.TopicInfo.TopicName</h2>
                <div class="header-title-right"></div>
            </div>
        </div>
    </header>
    <article>
        @if (Model.TopicInfo.ListPostItem != null)
        {
            <div class="pager-top"></div>
            
            @Html.Partial("ListPostIsMarket.Media", Model.TopicInfo)
            
            <div class="pager-bottom">
                @Display(Model.Pager)
            </div>
        }
        else
        {
            <div class="alert alert-success">Không có bài viết nào được tìm thấy.</div>
        }
    </article>
</article>
