
@*@foreach(var u in Model.OnlineUsers){
    <div class="block-online-users">
        @u.UserName - @u.Email
    </div>
}*@

<span title="User đang online" class="icon-user-online"></span>
<div class="clear"></div>