@model RealEstate.ViewModels.PropertyEditViewModel
<!-- Youtube Video -->
<article class="content-item">
    <header>
        <div class="header-wrapper">
            <div class="header-center header-bg-green">
                <div class="header-left header-bg-green">
                    <div class="header-left-triangle"></div>
                </div>
                <h1>Video BĐS</h1>
                <div class="header-right"></div>
            </div>
        </div>
    </header>
    <article>
        <div class="form-horizontal">
            <div class="control-group" id="control-video-bds">
                @if (!string.IsNullOrEmpty(Model.YoutubeId))
                {
                    <iframe title="YouTube video player" width="640" height="390" src="http://www.youtube.com/embed/@Model.YoutubeId" frameborder="0" allowfullscreen></iframe>
                }
            </div>
            <div>
                <a href="javascript:;" class="delYoutubeVideo" data-id="@Model.Id"><i class="ui-icon icon-cross"></i> Xóa Video</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </article>
    <footer></footer>
</article>