@using RealEstate.UserControlPanel.Models;
@using RealEstate.UserControlPanel.ViewModels;

@using (Html.BeginFormAntiForgeryPost())
{
<div class="layout-right-container">
        <div class="right_main">
        <div class="sidebar-content">
            
        </div>
    </div>
</div>
}