<div id="GuideModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title text-info">Hướng dẫn</h3>
            </div>
            <div class="modal-body">
                <div class="text-center ghi-so-nha"><img alt="Hướng dẫn ghi số nhà" src="/Themes/Bootstrap/Styles/images/huong-dan-ghi-so-nha.png" /></div>
                <div class="text-center map-help"><img alt="Hướng dẫn ghi số lần rẽ" src="/Themes/TheRealEstate/Styles/images/map-help.jpg" /></div>
                <div class="text-center remainingvalue">
                    <p>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td rowspan="2"><strong >Loại kết cấu</strong></td>
                                    <td colspan="3"><strong>Tỷ lệ còn lại</strong></td>
                                </tr>
                                <tr>
                                    <td><strong class="text-blue">> 80%</strong></td>
                                    <td><strong class="text-blue">> 65%</strong></td>
                                    <td><strong class="text-blue">> 45%</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Kết cấu bằng bê-tông cốt thép </strong></td>
                                    <td>Lớp trát bong tróc, bê tong bằn đầu bị nứt</td>
                                    <td>Bê-tông có nhiều vết nứt, cốt thép có chỗ bị cong vênh</td>
                                    <td>Kết cấu bắt đầu cong vênh</td>
                                </tr>
                                <tr>
                                    <td><strong>Kết cấu bằng gạch  </strong></td>
                                    <td>Lớp trát bắt đầu bong tróc, có vết nứt nhỏ</td>
                                    <td>Lớp trát bong tróc nhiều, nhiều chỗ có vết nứt rộng</td>
                                    <td>Nhiều chỗ gạch bắt đầu mục, kết cấu bị thấm nước</td>
                                </tr>
                                <tr>
                                    <td><strong>Kết cấu bằng gỗ hoặc sắt </strong> </td>
                                    <td>Bắt đầu bị mối mọt hoặc bị rỉ</td>
                                    <td>Bị mục hoặc rỉ ăn sâu nhiều chỗ</td>
                                    <td>Kết cấu bị cong vênh nhiều</td>
                                </tr>
                            </tbody>
                        </table>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>