<div id="MapGuideModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title text-info">Hướng dẫn xem bản đồ quy hoạch</h3>
            </div>
            <div class="modal-body form-horizontal">
                <div class="map-item"> - Bản đồ quy hoạch chúng tôi tách thành từng mảnh theo Xã/Phường vì vậy các bạn muốn xem Bất động sản bạn phải chọn chính xác Xã/Phường. </div>
                <div class="map-item"> - Bản đồ có chức năng đo kích thước và đo diện tích cho từng lô đất bằng các biểu tượng bên trái bản đồ.</div>
                <div>
                    <img src="/Modules/RealEstate.FrontEnd/Styles/images/map_guide.png" style="max-width: 100%;" alt="Hướng dẫn xem bản đồ quy hoạch" />
                </div>
                <div class="map-item"> - Để xem bản đồ rõ hơn bạn nên dùng <span class="text-success">“chế độ xem màn hình lớn”</span> lúc đó màn hình sẽ được phóng lớn hết cỡ trên màn hình máy tính của bạn, như vậy sẽ xem bản đồ rõ hơn.</div>
                <div class="map-item"> - Để đo khoảng cách hoặc độ rộng của đường, hẻm… thì bạn nên dùng thước<span class="text-success"> “đo khoảng cách”.</span>  Bạn chỉ cần click điểm đầu vị trí cần đo và nhấp đúp chuột tại điểm cuối để kết thúc quá trình đo.</div>
                <div class="map-item"> - Để đo diện tích của một khu đất thì bạn nên dùng thước <span class="text-success">“đo diện tích khu đất”.</span> Bạn bắt đầu bằng cách click chuột vào một góc bất kỳ của lô đất, sau đó tiếp tục click đến các góc cạnh tiếp theo cho đến khi quay lại điểm đầu và nhấp đúp chuột để kết thúc quá trình đo.</div>
                <div class="map-item"> - Để xóa thước đo vừa thực hiện bạn phải dùng công cụ <span class="text-success"> “xóa thước đo”.</span> Bạn chọn công cụ này, sau đó click vào thước đã đo cần xóa để thực hiện việc xóa.</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Đóng</button>
            </div>
        </div>
    </div>
</div>