@{ Layout.Title = T("Sửa tin").ToString(); }

@using (Html.BeginFormAntiForgeryPost(null, FormMethod.Post, new { enctype = "multipart/form-data", Class = "formvalidate" }))
{ 
    @Html.ValidationSummary() 
    // Model is a Shape, calling Display() so that it is rendered using the most specific template for its Shape type
    @Display(Model)
    
    <button value="submit.Update" name="submit.Update" type="submit" id="submit.Update" class="primaryActionCreate btn btn-primary">Cập nhật</button>

}
@using (Script.Foot())
{
    <script type="text/javascript">
        $(".edit-item-secondary .group").hide();
    </script>
}