
#yourImageID 
{
    cursor:grab;
    cursor:-moz-grab;
    cursor:-webkit-grab;
    cursor: url(https://mail.google.com/mail/images/2/openhand.cur), move !important;
}
        
#yourImageID.mouseDown
{
    cursor:grabbing;
    cursor:-moz-grabbing;
    cursor:-webkit-grabbing;
    cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), move !important;
}

