
<div class="ajax-content ajax-paging" data-url="@Url.Action("AjaxPostInThread", "PostForumFrontEnd", new { area = "RealEstate.MiniForum.FrontEnd", threadid = 847255 })">
    @Html.Partial("Loading")
</div>