<div class="ajax-content ajax-paging" data-url="@Url.Action("AjaxPostIsNewsMain", "PostForumFrontEnd", new { area = "RealEstate.MiniForum.FrontEnd", shwval = 4, lstval = 12 })">
    @Html.Partial("Loading")
</div>
