
<div class="row">
    <div class="col-md-12 ajax-postuser-content ajax-paging">
        @Html.Partial("Loading")
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <a rel="nofollow" class="text-success btn btn-success" href="@Url.Action("Create", "PostForumFrontEnd", new { area = "RealEstate.MiniForum.FrontEnd" })">
                <i class="icon_rev_building_edit"></i>
                Đăng bài viết
            </a>
        </div>
    </div>
</div>

