@{
    Layout.Title = "Thông báo lỗi từ dinhgianhadat.vn";
}

<article class="content-item">
    <header>
        <div class="header-wrapper">
            <div class="header-title">
                <div class="header-title-left">
                    <div class="header-title-triangle"></div>
                </div>
                <h1 class="header-title-text">Thông báo</h1>
                <div class="header-title-right"></div>
            </div>
        </div>
    </header>
    <article>
        <div class="alert alert-success last"> Xin lỗi, yêu cầu của bạn không tồn tại, vui lòng thử lại sau.</div>
    </article>
</article>