@model RealEstate.ViewModels.PropertyDisplayIndexViewModel

@if (Model.Properties.Count() > 0)
{
<div id="ViewResultFilterPropertiesNew">
    @Html.Partial("ListProperties", Model.Properties)
    <div class="pull-right view-continue">
        <a class="text-bold" href="@Url.Action("SearchProperties", "PropertySearch", new { area = "RealEstate.FrontEnd", AdsTypeCssClass = Model.Options.AdsTypeCssClass, FlagAds = "new" })">>> Xem thêm bđs</a>
    </div>
    <div class="clearfix"></div>
</div>
}
else
{
    @Html.Partial("NoResult")
}