@model RealEstate.ViewModels.PropertyDisplayIndexViewModel
@if (Model.Properties.Any())
{
    @Html.Partial("ListPropertiesDeal", Model.Properties)
    <div class="pull-right view-continue">
        <a class="text-bold" href="@Url.Action("SearchProperties", "PropertySearch", new { area = "RealEstate.FrontEnd", AdsTypeCssClass = Model.Options.AdsTypeCssClass, FlagAds = "gooddeal" })">>> Xem thêm bđs</a>
    </div>
}
else
{
    @Html.Partial("NoResult")
}