@model RealEstate.ViewModels.PropertyDisplayIndexViewModel
<article class="content-item">
    <header>
        <div class="header-wrapper">
            <div class="header-title">
                <div class="header-title-left">
                    <div class="header-title-triangle"></div>
                </div>
                <h2 class="header-title-text">Các BĐS dùng tham chiếu định giá</h2>
                <div class="header-title-right"></div>
            </div>
        </div>
    </header>
    <article>
        <div class="pager-top">
        </div>
        @Html.Partial("ListProperties", Model.Properties)
        <div class="pager-bottom">
            @Display(Model.Pager)
        </div>
        <div class="clearfix"></div>
    </article>
    <footer>
    </footer>
</article>