@*@Display(Model)*@
@{
    Layout.Title = "Không thể xem tin lúc này";
}
<article class="content-item">
    <header>
        <div class="header-wrapper">
            <div class="header-title">
                <div class="header-title-left">
                    <div class="header-title-triangle"></div>
                </div>
                <h2 class="header-title-text">Thông báo</h2>
                <div class="header-title-right"></div>
            </div>
        </div>
    </header>
    <article>
        <h4 class="text-danger"><img alt="image not found" src="/Themes/TheRealEstate/Styles/images/not-found.png?width=150" width="150" />Rất tiếc. Bạn không thể xem được tin này.</h4>
    </article>
</article>
<style>
    .content-item-map {display:none;}
</style>