@model PropertyDisplayEntry
@using RealEstate.ViewModels;
<div id="moreoption">
    <a rel="nofollow" href="javascript:window.print();"><i class="icon_silk_printer"></i>In tin</a>
    &nbsp;&nbsp;
    <a rel="nofollow" href="#@Model.Property.Id" class="linksaveproperty"><i class="icon_silk_heart"></i>Lưu tin</a>
</div>
@if (!HttpContext.Current.Request.IsLocal)
{
    <div class="fb-like" data-send="true" data-width="400" data-show-faces="false" data-href="@("http://dinhgianhadat.vn" + Url.Action("RealEstateDetail", "PropertySearch", new { area = "RealEstate.FrontEnd", id = Model.Property.Id, title = Model.Property.DisplayForUrl }))" data-layout="button_count"></div>
    <!-- Place this tag where you want the share button to render. -->
    <div class="goole-like">
        <div class="g-plus" data-action="share" data-annotation="bubble"></div>
    </div>
    <!--annotation="inline"-->
    <!-- Place this tag after the last +1 button tag. -->
    <script type="text/javascript">
        (function () {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
}