@{
    Layout.Title = "Đăng ký nhận kết quả thành công";
}
<article class="content-item">
    <header>
        <div class="header-wrapper">
            <div class="header-title">
                <div class="header-title-left">
                    <div class="header-title-triangle"></div>
                </div>
                <h2 class="header-title-text">Đăng ký nhận kết quả thành công</h2>
                <div class="header-title-right"></div>
            </div>
        </div>
    </header>
    <article>
        <div class="alert alert-success">Bạn đã đăng ký nhận kết quả tìm kiếm thành công. Chúng tôi sẽ gửi mail cho bạn khi có thông tin BĐS mới phù hợp với yêu cầu tìm kiếm của bạn.</div>
    </article>
    <footer>
    </footer>
</article>