@model RealEstate.ViewModels.VideoOptions
@using RealEstate.ViewModels;
    
@using (Html.BeginFormAntiForgeryPost(null, FormMethod.Get))
{      
    <fieldset>
        <!-- Tìm kiếm cơ bản -->
        <table class="filter-table">
            <tbody>
                <tr>
                    <td class="filter-label">Search</td>
                    <td class="filter-label">Loại video</td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(m => m.Search, new { @class = "text" })
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.VideoTypeId,
                            Model.VideoTypes.Select(s => new SelectListItem
                            {
                                Selected = s.Id == Model.VideoTypeId,
                                Text = s.Name,
                                Value = s.Id.ToString()
                            }), T("-- Tất cả --").ToString())
                    </td>
                </tr>
            </tbody>
        </table>

    </fieldset>
    <fieldset class="bulk-actions left">
        <button type="submit" name="submit.Filter" value="@T("Filter")">@T("Tìm kiếm")</button>
    </fieldset>
}    